.h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: black;
    font-size: 12px;
    padding-bottom: 3rem;
}
.h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: black;
    font-size: 8px;
    padding-bottom: 2rem;
}
